@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.produto-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas com tamanhos iguais */
  gap: 16px; /* Espaçamento entre os cards */
  max-width: 200px; /* Largura máxima */
  width: 100%; /* Preenche 100% até o máximo */
  margin: 0 auto; /* Centraliza */
  border: 1px solid #ddd; /* Opcional: adiciona borda */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 16px; /* Espaçamento interno */
  background-color: white; /* Fundo branco */
}

.produto-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.produto-imagem {
  width: 80px;
  height: 80px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.produto-nome {
  font-size: 1.2rem;
  margin: 8px 0;
  color: #333;
}

.produto-descricao {
  font-size: 0.9rem;
  color: #666;
}

.produto-preco {
  font-weight: bold;
  font-size: 1rem;
  color: #27ae60;
}
